<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>903744720307-66qsiele20sjak31488upgq1ngq93pv0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.903744720307-66qsiele20sjak31488upgq1ngq93pv0</string>
	<key>API_KEY</key>
	<string>AIzaSyAyeDGqal8e6hbHIQMeeACemeUH5rPy0KA</string>
	<key>GCM_SENDER_ID</key>
	<string>903744720307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.misis</string>
	<key>PROJECT_ID</key>
	<string>blessed-6a409</string>
	<key>STORAGE_BUCKET</key>
	<string>blessed-6a409.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903744720307:ios:5aab6aac6e82dd1b3e8fc6</string>
</dict>
</plist>